/* =========================================
1. VARIABLES & RESET
========================================= */
:root {
  --text-color: rgb(241, 231, 231);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* =========================================
2. BASE STYLES (Raw Tags)
========================================= */
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h3 {
  /* add google fonts here later */
  text-align: center;
}

/* =========================================
3. GLOBAL STYLES (Body, Typography, etc.)
========================================= */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

/* =========================================
4. PAGE LAYOUTS (The Blueprints)
========================================= */

.nav-links {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin: 0;
}

.nav-links li::after {
  content: "/";
  margin-left: 10px;
}

.nav-links :last-child::after {
  content: "";
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px 15px;
}

.showcase-columns {
  display: flex;
  flex-direction: column;
}

.showcase-columns h3 {
  border-top: 3px solid;
  border-bottom: 3px solid;
  padding: 10px;
}

.project-list ul li {
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
  border-color: black;
  border-bottom: 3px solid;
}

.project-list ul li:last-child {
  border-bottom: none;
}

.work-experience-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.work-experience-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.education-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 50px 10px 15px;
}

.education-list li::before {
  content: "- ";
}

.teacher-review {
  border-top: 3px solid;
  padding: 10px 0px;
}

.review {
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

footer {
  padding: 28px;
}

/* =========================================
5. UTILITY CLASSES (Global Helpers)
========================================= */
.text-center {
  text-align: center;
}

/* =========================================
6. MEDIA QUERIES
========================================= */
@media (min-width: 768px) {
  h3 {
    text-align: left;
  }

  header {
    flex-direction: row;
  }

  .nav-links {
    margin-left: auto;
  }

  .intro {
    padding: 100px 0px;
  }

  .showcase-columns {
    flex-direction: row;
    border-top: 3px solid;
  }

  .showcase-columns h3 {
    border: 0px;
    padding: 15px 30px;
  }

  .column {
    border-right: 3px solid;
    flex: 1;
  }

  .column:first-child {
    flex: 0.5;
  }

  .column:last-child {
    border: 0px;
  }

  .project-list ul li {
    text-align: left;
    padding: 10px 30px;
  }
  .work-experience-list {
    padding: 0px;
  }

  .work-experience-item {
    border-bottom: 3px solid;
    padding: 15px 30px;
  }

  .work-experience-item:last-child {
    border-bottom: 0px;
  }
  .education-section {
    padding: 15px 30px;
  }

  .teacher-review {
    padding: 40px 30px;
  }

  .teacher-columns {
    display: flex;
    align-items: center;
  }

  footer h3 {
    text-align: center;
  }
}
